header,footer,article,nav
{
	display: block;
}

header .email
{
	float: right;
	font-family: arial;
}

header .title
{
	font-family: arial;
	font-size: x-large;
	font-weight: bold;
}

header
{
	max-width: 1000px; 	/* Максимальная ширина пикселах */
	padding: 10px;		/*отступ текста по всем краям внутри рамки*/
	margin: 10px;		/*отступ текста по всем краям снаружи рамки*/
	background: url(../images/header_background.svg);
	background-size: 100%;
	padding-bottom: 30px;

	margin-left: auto;
	margin-right: auto;
}

header details
{
	padding: 5px;		/*отступ текста по всем краям внутри рамки*/
	margin: 5px;		/*отступ текста по всем краям снаружи рамки*/
	border: 1px solid #000000;
}

nav
{
	max-width: 1000px; 	/* Максимальная ширина пикселах */
	padding: 5px;		/*отступ текста по всем краям внутри рамки*/
	margin: 5px;		/*отступ текста по всем краям снаружи рамки*/

	margin-left: auto;
	margin-right: auto;
}

nav a
{ 
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}










nav ul li
{
	display:inline;
}

nav ul li a,
nav ul li a:visited
{
	display:block;
	margin:6px;
	padding:6px;
}

nav ul li a:hover
{
	margin:5px;
	padding:5px;
	border: 1px solid #000000;
}

section
{
	align:center;
}

article
{
	max-width: 1000px; 	/* Максимальная ширина пикселах */
	padding: 15px;		/*отступ текста по всем краям внутри рамки*/
	margin: 25px;		/*отступ текста по всем краям снаружи рамки*/
	text-align:justify;	/*выравнивание под прямоугольник в котором расположен текст*/
	font-family: arial;
	font-size: normal;
	background: #ddf;
	margin-left: auto;
	margin-right: auto;
}

.article_header
{
	padding: 5px;		/*отступ текста по всем краям внутри рамки*/
	margin: 5px;		/*отступ текста по всем краям снаружи рамки*/
	font-family: arial;
	font-size: large;
	font-weight: bold;
	text-align:center;
}

footer
{
	padding: 10px;		/*отступ текста по всем краям внутри рамки*/
	margin: 10px;		/*отступ текста по всем краям снаружи рамки*/
	text-align: center;	/*расположение текста посередине*/
	font-size: 0.8em;
}